<form    class="input-group m-5 text-center " 
        [formGroup]="forma" (ngSubmit)="buscarHimnos()">
            <input  type="text" 
                    class="form-control col-8 " 
                    placeholder="Himno"
                    formControlName="termino"
                    autofocus >
            <button class="btn btn-outline-primary" 
                    type="submit"> 
                    <i class="fas fa-search"></i> Buscar </button>
</form>

<!-- RESULTADO DE LOS HIMNOS -->
<div class="card-columns" >
    <div class="card" *ngFor="let himno of himnos">
    <div class="text-center mt-4">
        <a [href]="himno.url" target="_blank"><i class="fab fa-youtube fa-3x" style="color: #c4302b;" ></i></a>
    </div>
    <div class="card-body">
        <div class="text-center">
            <h5 class="card-title">{{himno.numero}}</h5>
            <h5 class="card-title">{{himno.title}}</h5>
        </div>
        <div>
            <p class="card-text">{{himno.content}}</p>
        </div>
    </div>
    </div>
</div>


