<div class="text-center">
    <div class="mt-2">
        <h5 class="card-title mb-1" style="font-family: 'Great Vibes', cursive; font-size: 2.7rem; color: #47185a;">{{himno.titulo}}</h5>
        <div class="col ml-auto">N° {{himno.numero}}  <span style="color: #47185a; font-size: 1.5rem"> | </span>
        <a [href]="himno.urlYoutube" target="_blank"><small></small><img src="assets/img/youtube.svg" width="25" alt="" title="YouTube"></a></div>


        <p class="form-text" *ngIf="himno.notas"><small style="font-style: italic">({{himno.notas}})</small> </p>
        <p class="card-text mt-2" style="white-space: pre-line; font-size: 1rem;" >{{himno.contenido}}</p>
        <div class="text-muted text-right" style="font-style: italic">
            <p class="form-text"> <small>
                <br>Musica: {{himno.autorMusica}} 
                <br>Letra: {{himno.autor_es}}</small> </p>
        </div>
    
        <div class="col form-text text-center">
            <br> <span class="btn btn-link" (click)="verSubCategoria(himno)"> Categoria: {{himno.subTitulo}} </span>
              |  <span class="btn btn-link" (click)="reportarErro(himno)">Reportar Error </span>
        </div>
    </div>
</div>
