<nav class="navbar navbar-expand-md navbar navbar-dark" style="background-color: #47185a;">
  <a class="navbar-brand" routerLinkActive="active" routerLink='home'>
    <img src="assets/img/iasd.svg" width="30" height="30" 
    class="d-inline-block align-top" alt="" loading="lazy"
    style="fill: #ffffff;">
    Home
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" routerLink='categorias'>Categorias</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="about">About</a>
        </li>
      </ul>
      <div  class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" 
                type="search" 
                placeholder="Buscar himno" 
                aria-label="Search"
                #terminoBusca
                (keyup.enter)="buscarHimnos(terminoBusca.value)">
        <button type="button" 
                class="btn btn-outline-light my-2 my-sm-0" 
                style="background: #47185a;"
                (click)="buscarHimnos(terminoBusca.value)"
                >
          <i class="fas fa-search fa-1.8x"
            aria-hidden="true" 
            style="color: antiquewhite;"></i></button>
      </div>
    </div>
  </nav>